aiohttp==3.8.1
aiosignal==1.2.0
APScheduler==3.8.1
async-timeout==4.0.1
attrs==21.2.0
backports.entry-points-selectable==1.1.1
backports.zoneinfo==0.2.1
chardet==4.0.0
charset-normalizer==2.0.8
discord.py==1.7.3
distlib==0.3.3
filelock==3.4.0
frozenlist==1.2.0
idna==3.3
multidict==5.2.0
platformdirs==2.4.0
python-dotenv==0.19.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
six==1.16.0
typing-extensions==4.0.0
tzdata==2021.5
tzlocal==4.1
virtualenv==20.10.0
yarl==1.7.2
